<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.0.0" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Formatting.Elasticsearch" version="8.1.0-alpha0005" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00824" targetFramework="net461" />
  <package id="Serilog.Sinks.Elasticsearch" version="8.1.0-alpha0005" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net461" />
</packages>