---
## Workflow to process the JUnit test results and add a report to the checks.
name: test-reporter
on:
  workflow_run:
    workflows:
      - test
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/test-report@feature/update-test-reporter-action
        with:
          artifact: test-results        # artifact name
          name: Test Summary            # Name of the check run which will be created
          path: "junit-*.xml"           # Path to test results (inside artifact .zip)
          reporter: java-junit          # Format of test results
          # https://github.com/elastic/apm-pipeline-library/issues/2063
          list-suites: 'only-failed'
          list-tests: 'only-failed'
